/* stage -- start */
.stage
{
    position: relative;
    width: 100%;
    height: 100%;
}
/* stage -- end */

/* controller -- start */
.controller_nav
{
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 101;
    width: 100%;
    text-align: center;
}
/* controller -- end */

/* image -- start */
.img_sec
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    perspective: 1800px;
}
/* image -- end */